extends layout

block home
	a(href='/').nav-home &lsaquo;&lsaquo;&nbsp; home

block nav
	div.nav-group
		a(href='/about/').nav.nav-about.nav-about-selected about
		span.divider /  
		a(href='/team/').nav.nav-team team
		span.divider /
		a(href='/work/').nav.nav-work work
		span.divider /
		a(href='/blog/').nav.nav-blog blog

block label
	h1.sub-header about us

block content
	.row(style='margin-top: 40px').no-select
		p.about-lead
			| We want to understand the brain, as much of it as possible, all at once. 
		p.about-intro
			| We do this in two ways. 
			br
			br
			| First, we develop technologies for the <span class='about-callout'>analysis</span> and <span class='about-callout'>visualization</span> of data, and platforms for data sharing and <span class='about-callout'>reproducible</span> science. 
			br
			br
			| Second, we uncover principles of neural coding by helping design experiments that <span class='about-callout'>monitor</span> and <span class='about-callout'>manipulate</span> the nervous system while animals perform complex behaviors. 
			br
			br
			| We hope to understand how all animals sense, behave, and think — including mice, zebrafish, flies, and eventually, ourselves.