extends layout

block home
	a(href='/').nav-home &lsaquo;&lsaquo;&nbsp; home

block nav
	div.nav-group
		a(href='/about/').nav.nav-about.nav-about-selected about
		span.divider /  
		a(href='/team/').nav.nav-team team
		span.divider /
		a(href='/work/').nav.nav-work work
		span.divider /
		a(href='/blog/').nav.nav-blog blog

block label
	h1.sub-header mission

block content
	.row(style='margin-top: 40px').no-select
		p.about-lead
			| We want to understand how brains work.
		p.about-intro
			| We approach this in two ways. 
			br
			br
			| First, we develop technologies for data <span class='about-callout'>analysis</span> and <span class='about-callout'>visualization</span> that facilitate <span class='about-callout'>collaboration</span> and <span class='about-callout'>reproducible</span> science. 
			br
			br
			| Second, we design experiments that <span class='about-callout'>monitor</span> and <span class='about-callout'>manipulate</span> neural activity in animals performing complex behaviors to learn <span class='about-callout'>principles</span> of neural coding.
