extends layout

block home
  a(href='/').nav-home &lsaquo;&lsaquo;&nbsp; home

block nav
  div.nav-group
    a(href='/about/').nav.nav-about about
    span.divider /  
    a(href='/team/').nav.nav-team team
    span.divider /
    a(href='/work/').nav.nav-work work
    span.divider /
    a(href='/blog/').nav.nav-blog.nav-selected.nav-blog-selected blog

block label
  h1.sub-header blog

block content

  .column-10

    include author
    - var articles = env.helpers.getArticles(contents);
    each article in articles
      
      article.article
        header
          p.article-date
            span= moment.utc(article.date).format('MMMM DD, YYYY')
          h2
            a(href=article.url).article-title-list= article.title
        section.content
          if article.intro.length > 0
            != typogr(article.intro).typogrify()
          if article.hasMore
            p.more
              a(href=article.url) more &rsaquo;&rsaquo;