extends layout


block home
	a(href='/', style='opacity:0.0; pointer-events: none').nav-home.no-select &lsaquo;&lsaquo;&nbsp; home

block nav
	div.nav-group.no-select
		a(href='/about/').nav.nav-about about
		span.divider /  
		a(href='/team/').nav.nav-team team
		span.divider /
		a(href='/work/').nav.nav-work work
		span.divider /
		a(href='/blog/').nav.nav-blog blog

block content
	.row(style='max-width:1100px; margin-top:20px')
		.column-4.no-select
			div#viz
		.column-4.suffix-4.hero.no-select the freeman lab
			span.blinking-cursor |

	script(src='/main.js')

