extends layout

block home
	a(href='/').nav-home &lsaquo;&lsaquo;&nbsp; home

block nav
	div.nav-group
		a(href='/about/').nav.nav-about about
		span.divider /  
		a(href='/team/').nav.nav-team team
		span.divider /
		a(href='/work/').nav.nav-work.nav-selected.nav-work-selected work
		span.divider /
		a(href='/blog/').nav.nav-blog blog

block label
	h1.sub-header what we do

block content
	.row
		.column-7.suffix-5.blurb
			p This is what we do this is what we do